body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.thumbnail p {
    color: #333;
    text-align: center;
}

.thumbnail p strong {
    text-decoration: underline;
    font-size: 150%;
}

.navbar {
    background-color: #7098DA;
    border-color: #7098DA;
}

.navbar-default .navbar-nav>li>a {
    font-size: 14px;
    color: #5e5e5e;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px;
    /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    background: url(../images/intro.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message>h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 5em;
}

.intro-message>h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }
    .intro-message>h1 {
        font-size: 3em;
    }
    ul.intro-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.intro-social-buttons>li:last-child {
        margin-bottom: 0;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #6EB6FF;
    color: #23404E;
}

.content-section-b {
    background-color: #E0FCFF;
    padding: 50px 0;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
}

.banner {
    padding: 100px 0;
    background: url(../images/clouds.gif) no-repeat center center;
    background-size: cover;
    text-align: center;
}

.banner h2 {
    margin: 0;
    margin-bottom: .5em;
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.list-inline>li {
    padding: .2em;
}


/* Range Slider css */

.range {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    left: 50%;
    width: 200px;
    margin-top: 10px;
    transform: translate(-50%, -50%);
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: rgba(59, 173, 227, 1);
    background: -moz-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59, 173, 227, 1)), color-stop(25%, rgba(87, 111, 230, 1)), color-stop(51%, rgba(152, 68, 183, 1)), color-stop(100%, rgba(255, 53, 127, 1)));
    background: -webkit-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1);
    height: 2px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: rgba(59, 173, 227, 1);
    background: -moz-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59, 173, 227, 1)), color-stop(25%, rgba(87, 111, 230, 1)), color-stop(51%, rgba(152, 68, 183, 1)), color-stop(100%, rgba(255, 53, 127, 1)));
    background: -webkit-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1);
    height: 2px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    max-width: 80px;
    position: relative;
    bottom: 11px;
    background-color: #1d1c25;
    cursor: -webkit-grab;
    -webkit-transition: border 1000ms ease;
    transition: border 1000ms ease;
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    max-width: 80px;
    position: relative;
    bottom: 11px;
    background-color: #1d1c25;
    cursor: -moz-grab;
    -moz-transition: border 1000ms ease;
    transition: border 1000ms ease;
}

.range.blue::-webkit-slider-thumb {
    border-color: rgb(59, 173, 227);
}

.range.blue::-moz-range-thumb {
    border-color: rgb(59, 173, 227);
}

input[type=range]::-webkit-slider-thumb:active {
    cursor: -webkit-grabbing;
}

input[type=range]::-moz-range-thumb:active {
    cursor: -moz-grabbing;
}


/* Title Text For Faizan Syed */

.clip-text {
    font-size: 8em;
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin: .25em;
    padding: .5em .25em;
    text-align: center;
    background-image: url(https://www.inspiringwallpapers.net/content/uploads/normal-h500/Black-Background.jpg);
    /* Color fallback */
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.thumbnail {
    background-color: #E0FCFF;
}

.mobileText {
    display: none;
}


/* For the Title, Slider, and Images */

@media only screen and (max-width: 850px) {
    .clip-text {
        font-size: 4em;
    }
    .anim {
        display: none;
    }
    input[type=range],
    .sliderText {
        display: none;
    }
    .mobileText {
        display: inline;
    }
    .resume {
        width: 200px;
    }
}

@media only screen and (max-width: 1200px) {
    input[type=range],
    .sliderText {
        display: none;
    }
    .mobileText {
        display: inline;
    }
}
