html {
	
}
body {
    margin: 60px auto;
    width: 70%;
}

nav a, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	font-size: 1.1em;
    list-style: none;
    font-weight: bold;
	padding: 4px 11px;
	color: #44454A;
}

footer ul li {
    display: inline;
	padding-right: 5px;
}

a {
    text-decoration: none;
	color: #3B92AB;
}
a:hover {
    text-decoration: underline;
}
.logo {
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	font-size: 2em;
	padding: 4px 11px 7px 11px;
	background: #3b92ab; 
	color: white;
}

.logo:hover{
	text-decoration: none;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Flixety css*/
.gallery {
  background: black;
  padding-top: 1.1em;
}

.gallery-cell {
  width: 70%;
  height: 200px;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.gallery-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.gallery-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

@media screen and ( min-width: 768px ) {
  .gallery-cell {
    height: 400px;
  }
}

@media screen and ( min-width: 960px ) {
  .gallery-cell {
    width: 60%;
  }
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}
